
*{
    margin:0px;
    padding:0px;
}
body{
    max-width:1440px;
    background-color:#F2EDED;
}
header{
    height:600px;
     background-image:url('../Assets/Hero-bg.png');
     background-size:cover;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size:34px;
  font-weight:bold;
  color:#4E47FF;
}
.raleway-banner {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:bold;
  font-size:60px;
  margin-bottom:37px;
}

.nav-container{
max-width:1100px;
height:100px;
margin:0px auto;
display:flex;
justify-content:space-between;
align-items:center;


}
.button-style{
    color:white;
    background-color:#4E47FF;
    padding:10px 20px;
    border-radius:10px;
    border:none;
   
}
.btn-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration:none;
color:white;
}
.banner-section{
    margin-top:140px;
    text-align:center;
}
.div-container{
    display:flex;
    justify-content:space-between;
    max-width:1100px;
    align-items:center;
    margin:50px auto;
   
   
}
.div-column{
    display:flex;
    flex-direction:column;
     gap:20px;
    width:40%;
    align-items:left;

}
.div-image{
    /* height:300px; */
    width:403px;
    width:40%;
 
}
.box-image{
   width:100%;
   border-radius:48px;
}
.title{
    font-weight:bold;
    font-size:42px;
}
.describtion{
    color:rgba(0, 0, 0, 0.468);
    font-size:24px;
}
.action{
    width:40%;
   
}
.about-user{
    max-width:1100px;
    background-color:#4d47ff34;
    text-align:center;
    margin:60px auto;
    padding:50px 0px;
    border-radius:40px;
    
}
.users-track{
    display:flex;
    justify-content:space-evenly;
    
}
.count{
    font-size:80px;
    color:#4E47FF;
    font-weight:bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.user-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size:38px;
  margin-bottom:40px;
}
.count-describtion{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:rgba(0, 0, 0, 0.553);
}
.about-user-info{
    display:flex;
    align-items:center;
    gap:10px;
  
}
.user-section{
    max-width:1100px;
    margin:30px auto;
    background-color:#F2EDED;
}
.user-container{
    margin:35px 0px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.user-feedback-container{
    display:flex;
    flex-direction:column;
    gap:20px;
    background-color:white;
    border-radius:14px;
    width:250px;
    height:200px;
    justify-content:space-evenly;

}
.about-user-info img{
    height:40px;
    width:40px;
    border-radius:50%;
}
.feedback-title-single{
  font-size:35px;
 font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align:center;
  margin:15px 0px;
  padding:10px;
}
.name{
    font-weight:bold;
    color:rgba(0, 0, 0, 0.728);
}
.date{
    color:rgba(0, 0, 0, 0.418);
}
.feedback-title{
    font-size:20px;
}
.overview-container{
    max-width:1100px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    margin:80px auto;
    background-color:white;
    align-items:center;
    
}
.overview-container img{
    width:840px;
    margin-top:10px;
    padding:30px 0px;
    border-radius:50px;
}
.web-button{
    margin:15px 0px;
}
.user-form{
    max-width:1100px;
    margin:50px auto;
    display:flex; 
    justify-content:center;
    align-items:center;
    gap:200px;
    
}
form input[type="text"],input[type="email"]{
    height:30px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
form textarea{
    height:80px;
    width: 100%;
    padding: 10px 20px;
}
.form-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:bold;
  font-size:80px;
}
input[type="submit"]{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:white;
    width:100%;
    background-color:#4E47FF;
    padding:20px 30px;
    border-radius:10px;
    border:none;
    margin-top:8px;
    margin-left:20px;
}